@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-VariableFont_wght.ttf);
}
@font-face {
    font-family: 'Bebas Neue';
    src: url(../fonts/BebasNeue-Regular.ttf);
}
*{
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Montserrat';
}
html, body{
    height: 100%;
}
#main-wrapper{
    min-height: 100vh;
    display: flex;
    flex-flow: column;
}
/*HEADER (all)*/
header{
    background-color: black;
    padding: 1% 10% 1% 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    box-shadow: 0px 0px 10px 2px black;
    font-weight: 400;
    height: 10vh;
}
header > #logoRedirect{
    width: 15%;
    position: relative;
    display: inline-block;
    cursor: pointer;
    height: auto;
}
header > #logoRedirect > .logo{
    width: 100%;
    display: block;
    transition: opacity 0.3s ease;
    position: relative;
    pointer-events: none;
}
header > #logoRedirect > .logoRed{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
}
header > #logoRedirect:hover > .logo {
    opacity: 0;
}
header > #logoRedirect:hover > .logoRed{
    opacity: 1;
    pointer-events: auto;
}
/*--------------------*/
header > #nav{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 50%;
}
header > #nav > ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
header > #nav > ul > li{
    list-style-type: none;
    width: 150px;
    height: 100%;
    border-radius: 10px;
    transition: ease 0.1s;
}
header > #nav > ul > li:hover{
    background-color: rgb(10, 10, 10);
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    transition: 0.1s ease;
}
header > #nav > ul > li > a{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
}
/*CONTENT (all)*/
#content{
    background-color: black;
    flex-grow: 1;
}
/*CONTENT (index)*/
#content > .hero{
    position: relative;
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
}
#content > .hero > img{
    height: 100%;
}
.over-img-container{
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 2fr 1fr 1fr 2fr; 
    grid-template-areas: 
    ". ."
    "join ."
    "button ."
    ". .";
    align-items: center;
    justify-items: center;
}
.over-img-container > .join-img{
    grid-area: join;
    width: 20%;
}
.over-img-container > .hero-button{
    grid-area: button;
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    transition: ease 0.3s;
}
.over-img-container > .hero-button:hover{
    background-color: black;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    transition: 0.3s ease;
}
.over-img-container > .hero-button > a{
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    font-weight: 800;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: ease 0.3s;
}
.over-img-container > .hero-button:hover > a{
    color: white;
    transition: 0.3s ease;
}
/*--------------------*/
.separator{
    height: 100px;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(12, 12, 12, 1));
}
.separatorb{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(12, 12, 12, 1));
}
/*--------------------*/
#main-content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
#main-content > #content-wrapper {
    width: 80%;
}
#main-content > #content-wrapper > .title-container{
    padding: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}
#main-content > #content-wrapper > .title-container > h1{
    font-size: 4.5rem;
    font-weight: 100;
    font-family: 'bebas neue';
    text-align: center;
}
#main-content > #content-wrapper > .title-container > p{
    margin-bottom: 50px;
    font-size: 1.5rem;
    font-weight: 300;
    text-align: center;
    margin-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    border-bottom: 1px solid white;
    width: 100%;
}
#main-content > #content-wrapper > .body-container{
    padding: 2%;
    text-align: start;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px;
    grid-template-areas:
    ". title ."
    "a b c";
    justify-items: center;
}
#main-content > #content-wrapper > .body-container > h2{
    font-size: 4.5rem;
    font-weight: 100;
    font-family: 'bebas neue';
    text-align: center;
    grid-area: title;
}
#main-content > #content-wrapper > .body-container > .main-content-block{
    padding: 5% 0 5% 0;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    border-radius: 10px;
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 90%;
}
#main-content > #content-wrapper > .body-container > .main-content-block > h3{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 30px;
}
#main-content > #content-wrapper > .body-container > .main-content-block > img{
    width: 65%;
    margin-bottom: 20px;
    border-radius: 10px;
}
#main-content > #content-wrapper > .body-container > .main-content-block > p{
    margin-bottom: 20px;
    width: 65%;
    flex-grow: 1;
}
#main-content > #content-wrapper > .body-container > .main-content-block > .box-button{
    width: 70%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    box-sizing: border-box;
    transition: ease 0.3s;
}
#main-content > #content-wrapper > .body-container > .main-content-block > .box-button:hover{
    background-color: black;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    transition: 0.3s ease;
}
.box-button > a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: ease 0.3s;
}
.box-button:hover > a{
    color: white;
    transition: 0.3s ease;
}
.b1{
    grid-area: a;
}
.b2{
    grid-area: b;
}
.b3{
    grid-area: c;
}
/*FOOTER (all)*/
.footerLogo{
    width: 15%;
}
footer{
    margin-top: auto;
    background-color: black;
    padding: 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer > .contFooter{
    width: 30%;
    text-align: end; 
}
/*--------------------*/
footer > .footerSocials{
    text-align: center;
}
.icon{
    filter: invert(100);
    width: 5%;
    padding: 5%;
}
/*--------------------*/
.disclaimer{
    font-weight: 200;
}
.disclaimer>p{
    padding: 1%;
}